---
import { getCollection, getEntry } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { dateStr } from '../../lib/utils'
import Prose from '../../components/Prose.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')
  return blogEntries.map((e) => ({
    params: { slug: e.slug },
    props: { e },
  }))
}

const { slug } = Astro.params
const post = await getEntry('blog', slug)
const author = await getEntry(post.data.author)
const { Content } = await post.render()
---

<BaseLayout pageTitle={post.data.title} heading={post.data.heading}>
  <div class="space-y-4">
    <div>
      <h1 class="text-4xl font-semibold">{post.data.title}</h1>
      <div class="flex space-x-4 text-gray-600">
        <span>投稿日時: {dateStr(post.data.published)}</span>
        {
          post.data.updated && (
            <span>更新日時: {dateStr(post.data.updated)}</span>
          )
        }
        <span class="ml-auto">
          by {author.data.name}
        </span>
      </div>

      <Prose>
        <Content />
      </Prose>
    </div>
  </div>
</BaseLayout>
