---
export const prerender = false

import Prose from '../../components/Prose.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { client, type Blog } from '../../lib/microcms'
import { toSlug } from '../../lib/utils'
import { fromSlug } from '../../lib/utils'

const slug = fromSlug(Astro.params.slug || '')

let post
try {
  post = await client.get<Blog>({
    endpoint: 'blogs',
    contentId: fromSlug(slug!),
  })
} catch (e) {
  return new Response(null, {
    status: 404,
  })
}
const expectSlug = toSlug(post)
if (Astro.params.slug !== expectSlug) {
  return Astro.redirect(`/blog/${expectSlug}`)
}
Astro.response.headers.set('cache-control', 'public, max-age=300')
---

<BaseLayout pageTitle={post.title} heading={post.heading}>
  <div>
    <h1 class="text-4xl font-semibold">{post.title}</h1>
    <p class="flex space-x-4 text-gray-600">
      <span
        >投稿日時: {new Date(post.publishedAt!).toLocaleString('ja-JP')}</span
      >
      {
        post.publishedAt !== post.updatedAt && (
          <span>
            更新日時: {new Date(post.updatedAt!).toLocaleString('ja-JP')}
          </span>
        )
      }
    </p>
  </div>
  <Prose>
    <div set:html={post.content} />
  </Prose>
</BaseLayout>
