---
import Header from '../components/Header.astro'

const { pageTitle } = Astro.props
const fullTitle =
  'nekok500.com' + (pageTitle !== undefined ? ` - ${pageTitle}` : '')
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={fullTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <title>{fullTitle}</title>
  </head>
  <body class="w-max-screen flex h-screen flex-col p-4 lg:px-20">
    <Header />
    <slot class="flex-grow" />
  </body>
</html>
